<script type="text/javascript" src='/js/app/controllers/inviteController.js'></script>
<script type="text/javascript" src='/js/app/controllers/projectController.js'></script>
<div class='col-md-12' ng-controller='ProjectController as project'>
	<div class='row'>
	<div class='col-md-8'>
		<div class='row'>
		<h1><%= project.name %></h1>
		<h3>by <a href='/profile/<%= project.author.id %>'><%- project.author.name %></a></h3>
		<%- (new Date(project.createdAt)).toDateString() %>
	
		<h3>Description</h3>
		<%= project.description %>
	
	<% if (project.neededMembers) { %>		
		<h3>Who is needed</h3>
		<%= project.neededMembers %>		
	<% } %>
	<% if (isMember) { %>		
		<% if (project.privateInformation) { %>	
			<h3>Information</h3>
			<%= project.privateInformation %>
		<% } %>
		<br/><a href="/chat/project/<%= project.id %>">Go to project chat</a>		
	<% } %>
		</div>

	<div class='row'>
	<% if (isAuthor) { %>
	<a href="/project/<%= project.id %>/edit">Edit project</a>
	<div 		

		ng-controller='InviteController as inviteCtrl' 
		ng-show='inviteCtrl.users.length'
		ng-init='inviteCtrl.loadUsers()'>
			<div ng-show='inviteCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='inviteCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Invite is sent successfully.
			</div>

			Invite :
			<select ng-model='inviteCtrl.new.user' ng-options="user.id as user.name for user in inviteCtrl.users"> 
			</select><br/>
			<label for='message'>Add invitation mesage, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='inviteCtrl.new.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='inviteCtrl.send(inviteCtrl.new.user ,<%= project.id %>)'>Invite!</button>
		</div>
	<% } %>
	<% if(invitation) { %>
		<div 
		ng-controller='InviteController as inviteCtrl'>
			<p>You are invited to join this project by <%= invitation.inviter.name %>!</p>
			<% if(invitation.message) { %>
			<p><%= invitation.message %></p>
			<% } %>
			<button class='btn btn-success' ng-click='inviteCtrl.accept(<%= invitation.id %>, true)'>Join!</button>
			<button class='btn btn-danger' ng-click='inviteCtrl.decline(<%= invitation.id %>, true)'>Decline</button>
		</div>
	<% } else if(currentUser 
			 && !isMember 
			 && !isRequestingMembership) { %>
	<div  
		ng-controller='MembershipRequestController as memberCtrl' 
		ng-init='memberCtrl.projectId = <%= project.id %>'>
		<div ng-show='memberCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='memberCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Request is sent successfully.
	    </div>
		<div ng-hide='memberCtrl.request.id'>
			<label for='message'>Add mesage about yourself, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='memberCtrl.request.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='memberCtrl.sendRequest()'>Join!</button>
		</div>
	</div>
	<% } %>	

	<% if (isAuthor) { %>
	<button ng-click='project.delete(<%= project.id %>)' class='btn btn-danger'>Delete project</button>

	<% } else if(isMember) { %>
	<button ng-click='project.leave(<%= project.id %>)' class='btn btn-warning'>Leave project</button>
	<% } %>	
	</div>
	
	</div>

	<% if (project.members && project.members.length) { %>
		<div class='col-md-4'>
			<h3>Members</h3>
			<ul>
			    <% for(var i=0; i<project.members.length; i++) { %>
			        <li>
			            <a href='/profile/<%= project.members[i].id %>'><%= project.members[i].name %></a>
			        </li>
			    <% } %>
			</ul>

			<% if (isAuthor) { %>
			<div 			
			ng-controller='MembershipRequestController as requestCtrl' 
			ng-show='requestCtrl.requests.length'
			ng-init='requestCtrl.loadRequests(<%= project.id %>)'>
			<h3>Requests for membership</h3>
				<ul>
					<li ng-repeat='request in requestCtrl.requests'>
						<strong>{{request.user.name}}</strong> 
						to {{request.project.name}} (<em>{{request.createdAt | date}}</em>)<br/>
						<span ng-show='request.message'>{{request.message}}</span>
						<div>
						<button class='btn btn-success' ng-click='requestCtrl.accept(request.id)'>Accept</button>
						<button class='btn btn-danger' ng-click='requestCtrl.decline(request.id)'>Decline</button>
						</div>
					</li>
				</ul>
			</div>
			<% } %>
			
		</div>
	<% } %>		

</div>
</div>

<a href="/">Home</a><br/>