<script type="text/javascript" src='/js/app/controllers/inviteController.js'></script>
<script type="text/javascript" src='/js/app/controllers/projectController.js'></script>
<div class='col-md-6' ng-controller='ProjectController as project'>
	<div class='row'>
		<h1><%= project.name %></h1>
		<h3>by <a href='/profile/<%= project.author.id %>'><%- project.author.name %></a></h3>
		<%- (new Date(project.createdAt)).toDateString() %>
	</div>
	<div class='row'>
		<h3>Description</h3>
		<%= project.description %>
	</div>
	<% if (project.neededMembers) { %>
		<div class='row'>
			<h3>Who is needed</h3>
			<%= project.neededMembers %>
		</div>
	<% } %>
	<% if (project.members && project.members.length) { %>
		<div class='row'>
			<h3>Members</h3>
			<ul>
			    <% for(var i=0; i<project.members.length; i++) { %>
			        <li>
			            <a href='/profile/<%= project.members[i].id %>'><%= project.members[i].name %></a>
			        </li>
			    <% } %>
			</ul>
		</div>
	<% } %>	
	<% if (isAuthor) { %>
	<div 
		class='col-md-6' 
		ng-controller='InviteController as inviteCtrl' 
		ng-show='inviteCtrl.users.length'
		ng-init='inviteCtrl.loadUsers()'>
			<div ng-show='inviteCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='inviteCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Invite is sent successfully.
			</div>

			Invite :
			<select ng-model='inviteCtrl.new.user' ng-options="user.id as user.name for user in inviteCtrl.users"> 
			</select><br/>
			<label for='message'>Add invitation mesage, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='inviteCtrl.new.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='inviteCtrl.send(inviteCtrl.new.user ,<%= project.id %>)'>Invite!</button>
		</div>
		<br/>
	<% } else if(invitation) { %>
		<div 
		class='col-md-6' 
		ng-controller='InviteController as inviteCtrl'>
			<p>You are invited to join this project by <%= invitation.inviter.name %>!</p><br/>
			<button class='btn btn-success' ng-click='inviteCtrl.accept(<%= invitation.id %>, true)'>Join!</button>
			<button class='btn btn-danger' ng-click='inviteCtrl.decline(<%= invitation.id %>, true)'>Decline</button>
		</div>
		<br/>
	<% } else if(currentUser 
			 && !isMember 
			 && !isRequestingMembership) { %>
	<div  
		class='col-md-6' 
		ng-controller='MembershipRequestController as memberCtrl' 
		ng-init='memberCtrl.projectId = <%= project.id %>'>
		<div ng-show='memberCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='memberCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Request is sent successfully.
	    </div>
		<div ng-hide='memberCtrl.request.id'>
			<label for='message'>Add mesage about yourself, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='memberCtrl.request.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='memberCtrl.sendRequest()'>Join!</button>
		</div>
	</div>
	<br/>
	<% } %>	
<% if (isAuthor) { %>
<button ng-click='project.delete(<%= project.id %>)' class='btn btn-danger'>Delete project</button>
<% } %>
</div>

<a href="/">Home</a><br/>