<div class='col-md-6' ng-controller='ProjectController as project'>
	<div class='row'>
		<h1><%= project.name %></h1>
		<h3>by <a href='/profile/<%= project.author.id %>'><%- project.author.name %></a></h3>
		<%- (new Date(project.createdAt)).toDateString() %>
	</div>
	<div class='row'>
		<h3>Description</h3>
		<%= project.description %>
	</div>
	<% if (project.neededMembers) { %>
		<div class='row'>
			<h3>Who is needed</h3>
			<%= project.neededMembers %>
		</div>
	<% } %>
	<% if (project.members && project.members.length) { %>
		<div class='row'>
			<h3>Members</h3>
			<ul>
			    <% for(var i=0; i<project.members.length; i++) { %>
			        <li>
			            <a href='/profile/<%= project.members[i].id %>'><%= project.members[i].name %></a>
			        </li>
			    <% } %>
			</ul>
		</div>
	<% } %>
	{{project.val}}
	<a href="/">Home</a><br/>
</div>
