<script type="text/javascript" src='/js/app/controllers/inviteController.js'></script>
<script type="text/javascript" src='/js/app/controllers/projectController.js'></script>
<div class='col-md-12 project-view' ng-controller='ProjectController as project'>
	<div class='credits'>
	<h1><%= project.name %></h1>
		<span class='author'>
			by <a href='/profile/<%= project.author.id %>'><%- project.author.name %></a>
		</span> <br/>
		<span class='createdAt'>
			<%= (new Date(project.createdAt)).toDateString() %>
		</span>
	</div>
	<div class='row'>
	<div class='col-md-9'>
		<div class='row' style='margin:0px;'>
		
		<%- project.description %>
	<% if (isMember) { %>		
		<h4>For members only:</h4>
		<%- project.privateInformation || "Empty yet :("%>
	<% } %>
	<% if (project.neededMembers) { %>		
		<h3>We need:</h3>
		<%= project.neededMembers %>		
	<% } %>
	
	</div>

	
	
	</div>

	<div class='col-md-3'>
	<div class='row'>
	<% if (isMember) { %>	
	<a class='chat-link' href="/chat/project/<%= project.id %>">
		<div class='chat-link-box'>
			Go to project chat
		</div>
	</a><br/>
	<br/>
		<a class='action-link' href="/post/new/<%= project.id %>">>Create post<</a><br/>
	<% } %>
	<% if (isAuthor) { %>
	<a class='action-link' href="/project/<%= project.id %>/edit">>>Edit project<<</a>
	<div 		

		ng-controller='InviteController as inviteCtrl' 
		ng-show='inviteCtrl.users.length'
		ng-init='inviteCtrl.loadUsers()'>
			<div ng-show='inviteCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='inviteCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Invite is sent successfully.
			</div>

			Invite :
			<select ng-model='inviteCtrl.new.user' ng-options="user.id as user.name for user in inviteCtrl.users"> 
			</select><br/>
			<label for='message'>Add invitation mesage, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='inviteCtrl.new.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='inviteCtrl.send(inviteCtrl.new.user ,<%= project.id %>)'>Invite!</button>
		</div>
	<% } %>
	<% if(invitation) { %>
		<div 
		ng-controller='InviteController as inviteCtrl'>
			<p>You are invited to join this project by 
				<a href='/profile/<%= invitation.inviter.id %>' target='_blank'><%= invitation.inviter.name %></a>!</p>
			<% if(invitation.message) { %>
			<p><%= invitation.message %></p>
			<% } %>
			<button class='btn btn-success' ng-click='inviteCtrl.accept(<%= invitation.id %>, true)'>Join!</button>
			<button class='btn btn-danger' ng-click='inviteCtrl.decline(<%= invitation.id %>, true)'>Decline</button>
		</div>
	<% } else if(currentUser 
			 && !isMember 
			 && !isRequestingMembership) { %>
	<div  
		ng-controller='MembershipRequestController as memberCtrl' 
		ng-init='memberCtrl.projectId = <%= project.id %>'>
		<div ng-show='memberCtrl.success' class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" ng-click='memberCtrl.hideAlerts()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <strong>Success!</strong> Request is sent successfully.
	    </div>
		<div ng-hide='memberCtrl.request.id'>
			<label for='message'>Add mesage about yourself, if you want:</label><br/>
			<textarea rows="3" cols="40" ng-model='memberCtrl.request.message' class='form-control' id='message'></textarea><br/>
			<button class='btn btn-success' ng-click='memberCtrl.sendRequest()'>Join!</button>
		</div>
	</div>
	<% } else if(isRequestingMembership) { %>	
	<div class='requesting'>
		<span>Your request for joining project is waiting for approval from author.</span>
	</div>
	<% } %>		
	</div>		
		<% if (project.members && project.members.length) { %>
		
			<h3>Fellows</h3>
			<ul>
			    <% for(var i=0; i<project.members.length; i++) { %>
			        <li>
			            <a href='/profile/<%= project.members[i].id %>'><%= project.members[i].name %></a>
			        </li>
			    <% } %>
			</ul>

			<% if (isAuthor) { %>
			<div 			
			ng-controller='MembershipRequestController as requestCtrl' 
			ng-show='requestCtrl.requests.length'
			ng-init='requestCtrl.loadRequests(<%= project.id %>)'>
			<h3>Join requests</h3>
				<ul>
					<li ng-repeat='request in requestCtrl.requests'>
						<a href="/profile/{{request.user.id}}" target="_blank"><strong>{{request.user.name}}</strong></a> (<em>{{request.createdAt | date}}</em>)<br/>
						<span ng-show='request.message'>{{request.message}}</span>
						<div>
						<button class='btn btn-success' ng-click='requestCtrl.accept(request.id)'>Accept</button>
						<button class='btn btn-danger' ng-click='requestCtrl.decline(request.id)'>Decline</button>
						</div>
					</li>
				</ul>
			</div>
			<% } %>
		<% } %>	
		<% if (project.posts && project.posts.length) { %>
		<h3>Recent posts</h3>	
		<ul>
			    <% for(var i=0; i<project.posts.length; i++) { %>
			        <li>
			            <a href='/post/<%= project.posts[i].id %>'><%= project.posts[i].title %> (<%= (new Date(project.posts[i].createdAt)).toDateString() %>)</a>
			        </li>
			    <% } %>
			</ul>
		<% } %>	
		<% if(isMember) { %>
		<button ng-click='project.leave(<%= project.id %>)' class='btn btn-warning'>Leave project</button>
		<% } %>	
	</div>
	

</div>
</div>

