<script type="text/javascript" src='/js/app/controllers/postController.js'></script>
<div class='col-md-12' ng-controller='PostController'>
	<div class='post-credits'>
		 <div class='post-title'>
			<h1><%= post.title %></h1>
			<h4><a href='/project/<%= post.project.id %>'><%- post.project.name %></a></h4>
		</div>
		<div class='picture'>
			<a href='/profile/<%= post.author.id %>'>
				<img ng-src='http://graph.facebook.com/<%= post.author.fb_id %>/picture' alt='image'/> 
		  	</a>			  	
	  	</div>
	  	<div class='info'>
		  	<div class='name'>
			  	<a href='/profile/<%= post.author.id %>'>
			  		<%= post.author.name %>
			  	</a>
		  	</div>
		  	<div class='createdAt'>
		  		<%= (new Date(post.createdAt)).toDateString() %>
		  		<% if (post.createdAt - post.updatedAt) { %>
				<br/>	Last update <%= (new Date(post.updatedAt)).toDateString() %> <%= (new Date(post.updatedAt)).toLocaleTimeString() %>
				<% }  %>
		  	</div>

		  	
	  	</div>
	<% if (isAuthor) { %>
	<div class='post-actions'>
		<a href="/post/<%= post.id %>/edit" class='action-link'>>>Edit post<<</a>
		<button ng-click='delete(<%= post.id %>)' class='btn btn-danger'>Delete post</button>
	</div>
	<% }  %>
	</div>
	<div class='clear'></div>
	<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-10'>
		<div class='row'>
		
		<div class='postContent'>
			<%- post.text %>
		</div>
	</div>

	<div class='row' ng-controller='CommentController' ng-init='load(<%= post.id %>)'>
	<% if (currentUser) { %>
		<div>
			Add comment<br/>
			<textarea ng-model='text' ng-keypress='keyPressed()'></textarea><br/>
			<button class='btn btn-success' ng-click='send()'>Send</button>
		</div>
	<% }  %>
	<% for(var i = 0; i < post.comments.length; i++) { %>
		<div class='row'>
			<div class='comment'>
				<div class='author'><a href='/profile/<%= post.comments[i].author.id %>'><%= post.comments[i].author.name %></a></div>
				<div class='text'><%= post.comments[i].text %></div>
				<div class='date'><%= (new Date(post.comments[i].createdAt)).toDateString() %></div>
			</div>
		</div>
	<% }  %>
		<div class='row' ng-repeat='comment in items' ng-model='items'>
			<div class='comment'>
				<div class='author'><a href='/profile/{{comment.author.id}}'>{{comment.author.name}}</a></div>
				<div class='text'>{{comment.text}}</div>
				<div class='date'>{{comment.createdAt | date}}</div>
			</div>
		</div>
	</div>

	</div>
	<div class='col-md-1'></div>
</div>
</div>
