<script type="text/javascript" src='/js/app/controllers/postController.js'></script>
<div class='col-md-12' ng-controller='PostController'>
	<div class='row'>
	<div class='col-md-8'>
		<div class='row'>
		<h1><%= post.title %></h1>
		<h3>by <a href='/profile/<%= post.author.id %>'><%- post.author.name %></a></h3>
		<h4><a href='/project/<%= post.project.id %>'><%- post.project.name %></a></h4>
		<%= (new Date(post.createdAt)).toDateString() %>
		<% if (post.createdAt - post.updatedAt) { %>
		<br/>	Last update <%= (new Date(post.updatedAt)).toDateString() %> <%= (new Date(post.updatedAt)).toLocaleTimeString() %>
		<% }  %>
		<div class='postContent'>
			<%= post.text %>
		</div>
		</div>

	<% if (isAuthor) { %>
	<div class='row'>
		<a href="/post/<%= post.id %>/edit">Edit post</a><br/>
		<button ng-click='delete(<%= post.id %>)' class='btn btn-danger'>Delete post</button>
	</div>
	<% }  %>

	<div class='row' ng-controller='CommentController' ng-init='load(<%= post.id %>)'>
	<% if (currentUser) { %>
		<div>
			Add comment<br/>
			<textarea ng-model='text' ng-keypress='keyPressed()'></textarea><br/>
			<button class='btn btn-success' ng-click='send()'>Send</button>
		</div>
	<% }  %>
	<% for(var i = 0; i < post.comments.length; i++) { %>
		<div class='row'>
			<div class='comment'>
				<div class='author'><%= post.comments[i].author.name %></div>
				<div class='text'><%= post.comments[i].text %></div>
				<div class='date'><%= (new Date(post.comments[i].createdAt)).toDateString() %></div>
			</div>
		</div>
	<% }  %>
		<div class='row' ng-repeat='comment in items' ng-model='items'>
			<div class='comment'>
				<div class='author'>{{comment.author.name}}</div>
				<div class='text'>{{comment.text}}</div>
				<div class='date'>{{comment.createdAt | date}}</div>
			</div>
		</div>
	</div>

	</div>

</div>
</div>
