<script type="text/javascript" src='/js/app/controllers/postController.js'></script>
<div class='col-md-12' ng-controller='PostController'>
	<div class='row'>
	<div class='col-md-8'>
		<div class='row'>
		<h1><%= post.title %></h1>
		<h3>by <a href='/profile/<%= post.author.id %>'><%- post.author.name %></a></h3>
		<h4><a href='/project/<%= post.project.id %>'><%- post.project.name %></a></h4>
		<%= (new Date(post.createdAt)).toDateString() %>
		<% if (post.createdAt - post.updatedAt) { %>
		<br/>	Last update <%= (new Date(post.updatedAt)).toDateString() %> <%= (new Date(post.updatedAt)).toLocaleTimeString() %>
		<% }  %>
		<div class='postContent'>
			<%= post.text %>
		</div>
		</div>

	<div class='row'>
	<% if (isAuthor) { %>
		<a href="/post/<%= post.id %>/edit">Edit post</a><br/>
		<button ng-click='delete(<%= post.id %>)' class='btn btn-danger'>Delete post</button>
	<% }  %>
	</div>
	
	</div>

</div>
</div>
