<script type="text/javascript" src='/js/app/controllers/chatCtrl.js'></script>
<a href="/chats">â† Back to chats list</a>
<div class='col-md-2'></div>
<div ng-controller='ChatController'
	 ng-init='init("<%= type %>", <%= id %>, <%= currentUser.id %>)'
	 class='col-md-8 chat-screen'>
	<% if(type == 'project') {%>
	<h3>to: <a href="/project/<%= id %>"> <%= name %></a></h3>	
	<%}else{%>
	<h3>to: <a href="/profile/<%= id %>"> <%= name %></a></h3>	
	<%}%>
	<textarea ng-model='text' ng-keypress='keyPressed()' class='message-area'></textarea>	 
	<button class='btn btn-success' ng-click='send()' ng-disabled='isSending'>Send</button>
	<div class='row'>
		<div 
			ng-model='messages'
			ng-repeat='msg in messages' 
			class='message row ng-hide'
			ng-show='msg'
			ng-class='{self: msg.from == currentUserId, other: msg.from != currentUserId}'>
			<div class='container'>
				<div class='author'>{{getUserName(msg.from)}}</div>
				<div class='text'>{{msg.text}}</div>
				<div class='date'>{{msg.createdAt | date}}</div>
			</div>
		</div>
	</div>
</div>
<div class='col-md-2'></div>